<app-watchlist-header
  (onShowsFilter)="filterShows($event)"
  class="watchlist-header"
/>
@if (isDialogOpen() && (vm$ | async); as vm) {
<app-watchlist-search-dialog
  [shows]="vm.showsWithExistenceCheck"
  (newMovie)="addNewMovie($event)"
  (searchFormValue)="onShowSearch($event)"
/>
} @if(vm$ | async; as vm) { @switch(typeOfShows()) { @case('all') {
<app-watchlist-collection
  class="watchlist-collection"
  (deleteMovie)="onDelete($event)"
  [movies]="vm.shows"
/>
} @case('series') {
<app-watchlist-collection
  class="watchlist-collection"
  (deleteMovie)="onDelete($event)"
  [movies]="vm.series"
/>
} @case('movie') {
<app-watchlist-collection
  class="watchlist-collection"
  (deleteMovie)="onDelete($event)"
  [movies]="vm.movies"
/>
} } }
