<div class="backdrop">
  <div class="dialog">
    <div class="dialog__header">
      <form [formGroup]="searchForm" class="form">
        <mat-form-field class="form-field">
          <mat-label>Search...</mat-label>
          <input
            matInput
            type="text"
            [formControl]="searchForm.controls.search"
          />
        </mat-form-field>
      </form>
      <button
        class="close__button"
        mat-mini-fab
        color="primary"
        aria-label="Close button"
        (click)="closeDialog()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    @if (true) { @if (shows().length > 1) {
    <div class="content">
      @for (show of shows(); track show.imdbID) {
      <app-movie-card
        [title]="show.title"
        [poster]="show.poster"
        [type]="show.type"
        [year]="show.year"
        [imdbID]="show.imdbID"
      >
        <button
          matTooltip="Add to my list"
          class="movie__button"
          mat-mini-fab
          aria-label="Add a movie to your watchlist"
          color="primary"
          (click)="addMovie(show)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </app-movie-card>
      }
    </div>
    } @else {
    <div class="empty__content">
      <mat-icon class="search-icon">search</mat-icon>
      <h3>Search For a Title</h3>
      <p>
        Start typing in the search bar to see a list of matching movies and TV
        series
      </p>
    </div>
    } }
  </div>
</div>
