<div class="dialog">
  <div class="dialog__header">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field">
        <mat-label>Search...</mat-label>
        <input
          matInput
          type="text"
          [formControl]="searchForm.controls.search"
        />
      </mat-form-field>
    </form>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, eos
    architecto repudiandae aut corrupti praesentium esse laboriosam quod porro
    suscipit beatae quia odio tempora perspiciatis, voluptates reprehenderit
    eveniet impedit atque?
  </p>
</div>
