.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.587);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  border: 1px solid black;
  background-color: rgb(165, 165, 165);
  overflow: auto;
}

.dialog__header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  padding-block: 8px;
  background-color: rgb(64, 64, 64);
  border-bottom: 1px solid black;
}

.close__button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-field {
  min-width: 60%;
  margin-bottom: -22px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.movie__image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 450px;
  transition: transform 200ms ease-in-out;
}

.movie__image_wrapper:hover {
  transform: scale(1.02);
}

.movie__image {
  border-radius: 15px;
  object-fit: cover;
}

.movie__title {
  margin-bottom: 0.35rem;
  font-weight: 500;
}

.movie__button {
  position: absolute;
  right: 1.25rem;
  bottom: 1rem;
  z-index: 1000;
}

.movie__tag {
  border: 1px solid black;
  border-radius: 15px;
  padding: 0.5rem;
  margin-right: 0.25rem;
}

.movie__tag:last-child {
  margin-right: 0;
}

.warning {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warning__icon {
  transform: scale(2.5);
  margin-block-end: 1.2rem;
}
