:host {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.587);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  width: 80%;
  height: 80%;
  padding: 5px 20px 20px 20px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: rgb(194, 106, 106);
  overflow-y: scroll;
}

.dialog__header {
  display: flex;
  justify-content: center;
}

.form-field {
  min-width: 40%;
}
