:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-field {
    min-width: 225px;
    width: 30vw;
  }
}

.submit-button {
  display: flex;
  justify-content: center;
  padding-top: 20px;

  &-btn {
    min-width: 225px;
    width: 30vw;
  }
}
