<mat-toolbar>
  <button
    mat-icon-button
    matTooltip="Search"
    aria-label="Add button"
    (click)="openDialog()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <div>
    <button mat-button (click)="filterShows('all')">
      <mat-icon>apps</mat-icon>All
    </button>
    <button mat-button (click)="filterShows('movies')">
      <mat-icon>movie</mat-icon>Movies
    </button>
    <button mat-button (click)="filterShows('series')">
      <mat-icon>tv</mat-icon>TV Series
    </button>
  </div>
  <button
    (click)="logout()"
    mat-icon-button
    matTooltip="Log Out"
    aria-label="Log out button"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
