<mat-toolbar>
  <button
    mat-icon-button
    matTooltip="Search"
    aria-label="Add button"
    (click)="openDialog()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <div class="btn-group">
    <button class="btn" mat-button (click)="filterShows('all')">
      <mat-icon>apps</mat-icon><span class="label">All</span>
    </button>
    <button class="btn" mat-button (click)="filterShows('movie')">
      <mat-icon>movie</mat-icon><span class="label">Movies</span>
    </button>
    <button class="btn" mat-button (click)="filterShows('series')">
      <mat-icon>tv</mat-icon><span class="label">TV Series</span>
    </button>
  </div>
  <button
    (click)="logout()"
    mat-icon-button
    matTooltip="Log Out"
    aria-label="Log out button"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
